<!doctype html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        
    </head>

        <body>
            <div class="main">
            {{>header}}
            <p>This site was created by Saumya Som. It uses data from mapbox.com and weatherstack.com through their api</p>
            <img class="port" src="/img/dev.jpg" alt="">
            </div>
            
            {{>footer}}
        </body>
</html>